.btn {
  font: inherit;
  height: 40px;
  padding: 0 15px;
  border-radius: $radius;
  border: 0;
  outline: none;
  background: $mainColor;
  color: white;
  cursor: pointer;

  &:hover {
    background: lighten($mainColor, 5%);
    box-shadow: 0 0 5px 0 $mainColor;
  }

  &--block {
    width: 100%;
  }
}