.form {
  &__field {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
  }

  &__control {
    font: inherit;
    min-height: 44px;
    width: 100%;
    padding: 10px 15px;
    border-radius: $radius;
  }

  &__feedback {
    margin-top: 20px;
    font-size: 0.875em;
  }

  .invalid-feedback {
    color: $errorColor;
    display: none;
    text-align: center;
  }
}