.matrix {
  &-item {
    background: $secondaryColor;
    height: 85px;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
  }
}

@each $name, $color in $items {
  .cell--#{$name} .matrix-item {
    background: $color;
  }
}